@page "/fetchhost"
@using HardwareExporterServer.Model
@using HardwareExporterServer.Services
@inject HostInfoManager hostInfoManager
@inject IJSRuntime js
<PageTitle>Windows host list</PageTitle>

<h1>Host Table</h1>

<p>manage host info in this page</p>

@if (hosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Host</th>
            <th>IP</th>
            <th>Port</th>
            <th>CreateTime</th>
            <th>UpdateTime</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var host in hosts)
        {
            <tr>
                <td>@host.HostName</td>
                <td>@host.HostIP</td>
                <td>@host.ExporterPort</td>
                <td>@host.CreateTime</td>
                <td>@host.UpdateTime</td>
                <td>
                    <a class="btn btn-success" href="UpdateHost/@host.HostIP">Update</a>
                    <button class="btn btn-danger" @onclick="() => DeleteAsync(@host.HostIP)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<HostInfo>? hosts;

    protected override void OnInitialized()
    {
        hosts = hostInfoManager.GetHostInfos();
    }

    async Task DeleteAsync(string hostIP)
    {
        if (await js.InvokeAsync<bool>("confirm", $"do you want to delete host with ip {hostIP}?"))
        {
            hostInfoManager.DeleteHostInfo(hostIP);
            OnInitialized();
        }
    }
}