@page "/fetchhost"
@using HardwareExporterServer.Model
@using HardwareExporterServer.Services
@inject HostInfoManager hostInfoManager
@inject HttpClient Http

<PageTitle>Windows host list</PageTitle>

<h1>Host Table</h1>

<p>manage host info in this page</p>

@if (hosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Host</th>
            <th>IP</th>
            <th>Port</th>
            <th>CreateTime</th>
            <th>UpdateTime</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var host in hosts)
        {
            <tr>
                <td>@host.HostName</td>
                <td>@host.HostIP</td>
                <td>@host.ExporterPort</td>
                <td>@host.CreateTime</td>
                <td>@host.UpdateTime</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<HostInfo>? hosts;

    protected override void OnInitialized()
    {
        hosts = hostInfoManager.GetHostInfos();
    }
}