@using HardwareExporterServer.Model
<h3>Form</h3>

<EditForm Model="@HostInfoEntity" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Hostname: </label>
        <div>
            <InputText @bind-Value="@HostInfoEntity.HostName"/>
            <ValidationMessage For="@(() => HostInfoEntity.HostName)"/>
        </div>
    </div>
    <div class="form-group">
        <label>HostIP: </label>
        <div>
            <InputText @bind-Value="@HostInfoEntity.HostIP"/>
            <ValidationMessage For="@(() => HostInfoEntity.HostIP)"/>
        </div>
    </div>
    <div class="form-group">
        <label>ExporterPort: </label>
        <div>
            <InputNumber TValue="int" @bind-Value="@HostInfoEntity.ExporterPort"/>
            <ValidationMessage For="@(() => HostInfoEntity.ExporterPort)"/>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] 
    public HostInfoEntity HostInfoEntity { get; set; }
    [Parameter] 
    public string ButtonText { get; set; } = "Save";
    [Parameter] 
    public EventCallback OnValidSubmit { get; set; }
}