@using HardwareExporterServer.Data
<h3>Form</h3>

<EditForm Model="@hostInfo" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Hostname: </label>
        <div>
            <InputText @bind-Value="@hostInfo.HostName"/>
            <ValidationMessage For="@(() => hostInfo.HostName)"/>
        </div>
    </div>
    <div class="form-group">
        <label>HostIP: </label>
        <div>
            <InputText @bind-Value="@hostInfo.HostIP"/>
            <ValidationMessage For="@(() => hostInfo.HostIP)"/>
        </div>
    </div>
    <div class="form-group">
        <label>ExporterPort: </label>
        <div>
            <InputNumber TValue="int" @bind-Value="@hostInfo.ExporterPort"/>
            <ValidationMessage For="@(() => hostInfo.ExporterPort)"/>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] 
    public HostInfo hostInfo { get; set; }
    [Parameter] 
    public string ButtonText { get; set; } = "Save";
    [Parameter] 
    public EventCallback OnValidSubmit { get; set; }
}