@page "/fetchhost"
@using HardwareExporterWeb.Models
@using HardwareExporterWeb.Services
@inject HostInfoManager hostInfoManager
@inject LocalizationService L
@inject IJSRuntime js
@implements IDisposable

<PageTitle>@L["HostList"]</PageTitle>

<h1>@L["HostTable"]</h1>

<p>@L["ManageHostInfo"]</p>

@if (hosts == null)
{
    <p><em>@L["Loading"]</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@L["Host"]</th>
            <th>@L["IP"]</th>
            <th>@L["WindowsExporterPort"]</th>
            <th>@L["HardwareExporterPort"]</th>
            <th>@L["CreateTime"]</th>
            <th>@L["UpdateTime"]</th>
            <th>@L["Actions"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var host in hosts)
        {
            <tr>
                <td>@host.HostName</td>
                <td>@host.HostIP</td>
                <td>@host.WindowsExporterPort</td>
                <td>@host.HardwareExporterPort</td>
                <td>@host.CreateTime</td>
                <td>@host.UpdateTime</td>
                <td>
                    <a class="btn btn-success btn-sm" href="UpdateHost/@host.HostIP">@L["Update"]</a>
                    <button class="btn btn-danger btn-sm" @onclick="@(() => DeleteAsync(host.HostIP))">@L["Delete"]</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<HostInfo>? hosts;

    protected override void OnInitialized()
    {
        hosts = hostInfoManager.GetHostInfos();
        L.OnLanguageChanged += StateHasChanged;
    }

    async Task DeleteAsync(string hostIP)
    {
        var confirmMessage = L.GetString("ConfirmDelete", hostIP);
        if (await js.InvokeAsync<bool>("confirm", confirmMessage))
        {
            hostInfoManager.DeleteHostInfo(hostIP);
            hosts = hostInfoManager.GetHostInfos();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        L.OnLanguageChanged -= StateHasChanged;
    }
}
